* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: blanchedalmond;
}

h1 {
    font-weight: bold;
    font-size: 80px;
    background-color: sienna;
    border-color: black;
    outline: auto;
    border-radius: 24px;
    color: black;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: auto;

}
ul {
    font-weight: bold;
    font-size: 48px;
    list-style: none;
}