* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: blanchedalmond;
}

h1 {
    font-weight: bold;
    font-size: 80px;
}
ul {
    font-weight: bold;
    font-size: 60px;
    list-style: none;
}