* {
    text-align: center;
    background-color: blanchedalmond;
}

ol {
    counter-reset: myCounter
}

li {
    list-style: none;
    counter-increment: step-counter;
}

ol > li:before {
    content:counter(step-counter);

    color: black;
    background-color: burlywood;
    display: inline-block;
    margin: 5px 10px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 25%;

}

h1 {
    font-size: 80px;
    font-weight: bold;
    background-color: sienna;
    border-radius: 24px;
}