* {
    text-align: center;
    background-color: blanchedalmond;
    box-sizing: border-box;
    margin: 12px;
    padding: 0px;
}

ol {
    counter-reset: myCounter;
    width: 900px;
    height: auto;
    display: inline-block;
    list-style-position: inside;
}

li {
    list-style: none;
    counter-increment: step-counter;

}

ol > li:before {
    content:counter(step-counter);
    color: black;
    background-color: burlywood;
    display: inline-block;
    margin: 5px 10px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 25%;

}

h1 {
    font-size: 80px;
    font-weight: bold;
    background-color: sienna;
    border-radius: 24px;
    margin-top: 24px;
}